/* CLASS SELECTOR */
img:hover {
    background-color: brown;
}
.chicken {
    background-color: green;
}
.broccoli {
    background-color: rgb(66, 47, 18);
}

.circular {
    border-radius: 100%;
}

/* TAG SELECTOR */
h1 {
    color: goldenrod;
    font-size: 100px;
}

/* ID SELECTOR */
#heading {
    color: brown;
}